:root {
    --cor0: #f9f9fa;
    --cor1: #AED1D1;
    --cor2: #F2B01F;
    --cor3: #404241;
    --cor4: #D28D03;
  }

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.todo-container {
    background-color: var(--cor3);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: var(--cor2);
}

.todo-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#task-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-task-btn {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: var(--cor2);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: var(--cor4)
}

#task-list {
    list-style: none;
    padding: 0;
    color: var(--cor0)
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.task-item.completed {
    text-decoration: line-through;
    color: #999;
}

.task-item button {
    background-color: var(--cor2);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.task-item button:hover {
    background-color: var(--cor4);
}